 <h1 class="mt-3">Edit</h1>

    <form class="col-lg-6 col-md-10 col-sm-12 mb-4">

        <div class="input-group mb-3">
            <label for="fullName" class="input-group-text">Full Name: </label>
            <input id="fullName" name="fullName" type="text" class="form-control"
                   aria-describedby="fullName-error" aria-label="Full Name" required>
            <span id="fullName-error" class="text-danger"></span>
        </div>

        <div class="input-group mb-3">
            <label for="contactNumber" class="input-group-text">Contact Number: </label>
            <input id="contactNumber" name="contactNumber" type="tel" class="form-control"
                   aria-describedby="contactNumber-error" aria-label="Contact Number" required>
            <span id="contactNumber-error" class="text-danger"></span>
        </div>

        <div class="input-group mb-3">
            <label for="emailAddress" class="input-group-text">Email Address: </label>
            <input id="emailAddress" name="emailAddress" type="email" class="form-control"
                   aria-describedby="emailAddress-error" aria-label="Email Address" required>
            <span id="emailAddress-error" class="text-danger"></span>
        </div>


        <button id="editButton" type="submit" class="btn btn-primary">Edit</button>
        <button id="cancelButton" type="reset" class="btn btn-primary">Cancel</button>
    </form>

    <div class="col-lg-4 col-md-6">
        <a href="contact-list.html" class="btn btn-outline-primary mt-4">Show Contact List</a>
    </div>

